/experiments/*.mp4
/experiments/*.mp3
/Montage/TestResults
obj
bin
*.suo
*.trx

/Video/TestFiles/Work
/Video/Lectures

*.suo
*.gz
*.aux
*.dvi
*.log
*.nav
*.out
*.pdf
*.ps
*.snm
*.backup
*.tex~
*.toc
*.snm
